.wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 46px;
  padding: 8px 20px;
  background-color: #ffffff;
}

.user-icon{
 width: 28px;
 height: 28px;  
}

.user-icon img{
  width: 100%;
  height: 100%;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.network-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebebeb;
  border-radius: 24px;
  padding: 4px 0 4px 12px;
}

.network-content-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.network-content-item img{
  width: 20px;
  height: 20px;
  /* width: 100%;
  height: 100%; */
}

.network-content-item b{
  display: block;
  font-weight: 400;
  margin-left: 6px;
  margin-right: 12px;;
}

.wallet-content{
  width: 28px;
  height: 28px;
  margin-left: 14px;
}

.wallet-content img{
  width: 100%;
  height: 100%;
}